{% extends 'forcedfun/base.html' %}
{% load forcedfun_tags static %}

{% block body %}
<h1>{{ game.slug }}</h1>
<a href="{% url 'game-detail' game.slug %}"><< Back</a>

<main>

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
   <p>
     <small>
       {{ question.points }} point {{ question.points|pluralize }}<br>
       {% if question.scored_at %}
       Scored {{ question.scored_at|timesince }} ago
       {% endif %}
     </small>

   </p>
  <p> Would {{ question.respondent.username }} rather: </p>

  <table>
    {% zip question.options option_pcts as zipped %}
    {% for option, option_pct in zipped %}
      <tr>
        <td>{{ option }}</td>
        <td>
          {% if not respondent_selection %}
            &#63;
          {% elif forloop.counter0 == respondent_selection.option_idx %}
            &#10004;
          {% else %}
            &#10005;
          {% endif %}</td>
        <td
            {% if respondent_selection and forloop.counter0 == respondent_selection.option_idx and question_selections_exist %}
              {% if option_pct >= 50 %}
                class="correct"
              {% else %}
                class="wrong"
              {% endif %}
            {% endif %}
          >
          <small

          >
            {{ option_pct }}%
          </small>
        </td>
      <tr>
    {% endfor %}
  </table>

  {% if user.is_superuser and question.scored_at is None %}
      <form method="POST" action="{% url "question-score" question.pk %}">
      {% csrf_token %}
      <button type="submit">Score Now</button>
      </form>
  {% endif %}
  <table>
    <tr>
    <th>&nbsp;</th>
    <th>Selection</th>
    </tr>

    {% for user in users %}
      <tr>
      <td> {{ user.username }}</td>
      {% if user.option_idx is not None %}
      <td
        class="{% if question.answer_idx is None %}{% elif question.answer_idx == user.option_idx %}correct{% else %}wrong{% endif %}"
      >
        {{ user.option_text }}
      </td>
      {% else %}
      <td>&#63;</td>
      {% endif %}
      </tr>
    {% endfor %}
  </table>
</main>

{% endblock body %}
